{{!

    Renders:
      Header Links

}}

<div class="nav header-item header-links">

    {{!-- Twitter --}}
    {{!-- <a href="#" target="_blank" class="icon icon-twitter nav-item" title="Twitter"><span class="nav-text">Twitter</span></a> --}}

    {{!-- Github --}}
    {{!-- <a href="#" target="_blank" class="icon icon-github nav-item" title="Github"><span class="nav-text">Github</span></a> --}}

    {{!-- Dribbble --}}
    {{!-- <a href="#" target="_blank" class="icon icon-dribbble nav-item" title="Dribbble"><span class="nav-text">Dribbble</span></a> --}}

    {{!-- Youtube --}}
    {{!-- <a href="#" target="_blank" class="icon icon-youtube nav-item" title="Youtube"><span class="nav-text">Youtube</span></a> --}}

    {{!-- Flickr --}}
    {{!-- <a href="#" target="_blank" class="icon icon-flickr nav-item" title="Flickr"><span class="nav-text">Flickr</span></a> --}}

    {{!-- Instagram --}}
    {{!-- <a href="#" target="_blank" class="icon icon-instagram nav-item" title="Instagram"><span class="nav-text">Instagram</span></a> --}}

    {{!-- Facebook --}}
    {{!-- <a href="#" target="_blank" class="icon icon-facebook nav-item" title="Facebook"><span class="nav-text">Facebook</span></a> --}}

    {{!-- Linkedin --}}
    {{!-- <a href="#" target="_blank" class="icon icon-linkedin nav-item" title="Linkedin"><span class="nav-text">Linkedin</span></a> --}}

    {{!-- Stumbleupon --}}
    {{!-- <a href="#" target="_blank" class="icon icon-stumbleupon nav-item" title="Stumbleupon"><span class="nav-text">Stumbleupon</span></a> --}}

    {{!-- Google Plus --}}
    {{!-- <a href="#" target="_blank" class="icon icon-googleplus nav-item" title="Google Plus"><span class="nav-text">Google Plus</span></a> --}}

    {{!-- Pinterest --}}
    {{!-- <a href="#" target="_blank" class="icon icon-pinterest nav-item" title="Pinterest"><span class="nav-text">Pinterest</span></a> --}}

    {{!-- Vimeo --}}
    {{!-- <a href="#" target="_blank" class="icon icon-vimeo nav-item" title="Vimeo"><span class="nav-text">Vimeo</span></a> --}}

    {{!-- Ask.fm --}}
    {{!-- <a href="#" target="_blank" class="icon icon-askfm nav-item" title="Ask.fm"><span class="nav-text">Ask.fm</span></a> --}}

</div>
